@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #ff2121cf;
    --color-primary-content: #000000ff;
    --color-complementary: #f9e639ff;
    --background-image-noise: linear-gradient(
            to bottom,
            color-mix(in oklab, var(--color-gray-950) 0%, transparent),
            color-mix(in oklab, var(--color-gray-950) 60%, transparent)
        ),
        url('/images/noise.png');
}

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    a:not(.btn) {
        @apply underline transition hover:opacity-80;
    }

    pre {
        @apply p-6 overflow-x-auto rounded-lg;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-gray-900 text-primary;
        font-size: 0.9em;
    }
}

@layer components {
    .markdown {
        > * {
            @apply my-6;
        }

        :where(h1, h2) {
            @apply mt-12 mb-6;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 bg-primary text-primary-content cursor-pointer text-center font-semibold no-underline transition-colors;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply text-gray-400 bg-gray-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }
}

#drop-zone {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  max-width: 100%;
  height: 300px;
  padding: 1em;
  border: 1px solid #ffffffff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

#file-input {
    position: absolute;
    display: contents;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.button-row {
    @apply flex justify-between mt-4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;      /* same width as drop-zone */
    max-width: 100%;
}
